@tailwind utilities;
@tailwind components;

/* * * purecss overrides * * */

.pure-g,
.pure-g [class*="pure-u"] {
  font-family: Roboto, system-ui, sans-serif;
}
.pure-menu-link {
  color: darkslateblue;
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
  background-color: rgb(200, 200, 200);
}
.pure-button[disabled] {
  pointer-events: unset;
}

/* * * pure-buttons * * */

.button-error,
.button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-error {
  background: #ca3c3c;
}

.button-secondary {
  background: #42b8dd;
}
