/* * * * * purecss overrides * * * * */
.pure-g,
.pure-g [class*="pure-u"] {
  font-family: Roboto, system-ui, sans-serif;
}
.pure-menu-link {
  color: darkslateblue;
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
  background-color: rgb(200, 200, 200);
}
.pure-button[disabled] {
  pointer-events: unset;
}

/* colors */
.bg-moccasin {
  background-color: moccasin;
}
.bg-whitesmoke {
  background-color: whitesmoke;
}

/* * * * * fonts * * * * */

div,
span,
input,
button,
ul,
li,
td {
  font-family: Roboto, system-ui, sans-serif;
}
h1,
h2 {
  font-family: "Open Sans", system-ui, sans-serif;
  font-weight: 700;
}
h3,
h4,
th {
  font-family: "Open Sans", system-ui, sans-serif;
  font-weight: 600;
}

/* * * * * margin * * * * */

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}

/* * * * * padding * * * * */

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.my-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}

/* * * * * gaps * * * * */

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-x-1 {
  row-gap: 0.25rem;
}
.gap-x-2 {
  row-gap: 0.5rem;
}
.gap-x-3 {
  row-gap: 0.75rem;
}
.gap-x-4 {
  row-gap: 1rem;
}
.gap-y-1 {
  column-gap: 0.25rem;
}
.gap-y-2 {
  column-gap: 0.5rem;
}
.gap-y-3 {
  column-gap: 0.75rem;
}
.gap-y-4 {
  column-gap: 1rem;
}

/* * * * * flex * * * * */

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-around {
  justify-content: space-around;
}

/* * * * * width * * * * */

.w-100 {
  width: 100%;
}
.w-sm {
  width: 35.5em;
}
.w-md {
  width: 48em;
}
.w-lg {
  width: 64em;
}
.min-w-sm {
  min-width: 35.5em;
}
.min-w-md {
  min-width: 48em;
}
.min-w-lg {
  min-width: 64em;
}
.max-w-sm {
  max-width: 35.5em;
}
.max-w-md {
  max-width: 48em;
}
.max-w-lg {
  max-width: 64em;
}

/* * * * * cursors * * * * */

.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}

/* * * * * buttons * * * * */
.button-error,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-error {
  cursor: not-allowed;
  background: rgb(202, 60, 60);
}

.button-secondary {
  background: rgb(66, 184, 221);
}
